In [69]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder

In [70]:
df = pd.read_csv('/content/candidates_view_202102071829.csv')

In [71]:
df['end_experience_range'] = df['end_experience_range'].apply(lambda x: 50 if x == 0 else x)

In [72]:
df['is_main_tech'] = df['is_main_tech'].apply(lambda x: 1 if x == True else 0)

In [73]:
df.head()

                                     id  ... state_initials
0  b0bd826e-df57-4ebc-bba2-0e2e647f545a  ...             RJ
1  846655e6-e866-4338-ad1c-ba6b3c5f0339  ...             RJ
2  c68a65f9-f7ea-4bd1-a13f-b9976022f441  ...             RJ
3  b5d67641-1f17-4c23-8fcc-54f549363a58  ...             RJ
4  3eb7f7ee-170e-431e-b87c-08b7a39318d6  ...             RJ

[5 rows x 8 columns]

In [74]:
jobs = pd.read_csv('jobs.csv')

In [75]:
jobs.head()

                                     id  ... state_initials
0  b0bd826e-df57-4ebc-bba2-0e2e647f545a  ...             RJ

[1 rows x 6 columns]

In [153]:
def find_best_candidates(job, candidates):
  tech = job['technology_id'].values
  city = job['city_id'].values
  start_exp = job['start_experience_range'].values
  end_exp = job['end_experience_range'].values
  state = job['state_initials'].values

  candidates['score'] = 1

  for row in range(0,len(candidates)):
    if candidates['city_id'][row] == city:
      candidates['score'][row] = candidates['score'][row]*2
    else:
      candidates['score'][row] = candidates['score'][row]*1
    
    if candidates['state_initials'][row] == state:
      candidates['score'][row] = candidates['score'][row]*2
    else:
      candidates['score'][row] = candidates['score'][row]*1
 
    
    if (candidates['technology_id'][row] in tech) & (candidates['is_main_tech'][row] == 1):
      candidates['score'][row] = candidates['score'][row]*5
    elif (candidates['technology_id'][row] in tech) & (candidates['is_main_tech'][row] == 0):
      candidates['score'][row] = candidates['score'][row]*2.5
    else:
      candidates['score'][row] = candidates['score'][row]*1

    if (candidates['start_experience_range'][row] == start_exp) & (candidates['end_experience_range'][row] == end_exp):
        candidates['score'][row] = candidates['score'][row]*3
    else:
        candidates['score'][row] = candidates['score'][row]*1

  return candidates

In [154]:
df_final = find_best_candidates(jobs, df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [155]:
df_score = df_final.groupby('candidate_id')['score'].mean().reset_index()

In [156]:
best_5 = df_score.sort_values('score', ascending = False)[:5].reset_index()

In [157]:
best_5

   index                          candidate_id     score
0     97  f82e3bfd-efe1-4814-b5d2-5c6ea37f6bae  6.000000
1     71  bbead861-c357-4d24-b9ac-ba5122957c10  5.454545
2     29  532252df-92dd-47ab-95ea-3a725071fdaa  5.142857
3     27  4db9f999-996a-4710-9740-21c76e98954c  5.066667
4     47  83c65bbc-5951-4a04-a4a1-ddadbd74cfc9  4.600000

In [158]:
jobs

                                     id  ... state_initials
0  b0bd826e-df57-4ebc-bba2-0e2e647f545a  ...             RJ

[1 rows x 6 columns]

In [159]:
df[df['candidate_id'] == best_5['candidate_id'][0]]

                                       id  ... score
230  0ffd5391-6542-42e0-868a-abd21a00185f  ...     6
231  261557ae-90e6-47eb-a2b2-40b5a97ee322  ...     6
232  f057f656-3ead-4f69-8790-a545fdacea4e  ...     6
233  ae9544fc-5c3e-4db1-8407-d7e9ba592fe8  ...     6
234  7cb35d07-f6f9-42f5-9f61-8285678512e3  ...     6
235  7a3b23e5-c9ac-4172-90d3-743709fa7690  ...     6
236  88bc3732-17ca-4dc9-beec-174e3058957f  ...     6
237  0978458a-4275-48aa-b6bf-00c5f209d6b5  ...     6
238  d7d5739f-381b-4e57-8a3f-40bb083c04d1  ...     6
239  4ce278a6-4945-44fd-999e-0ff36150f2e4  ...     6
240  ec507786-d781-4182-b1e3-0c7983c0ecf1  ...     6
241  d8042174-6a25-4b43-a722-963af219ad42  ...     6

[12 rows x 9 columns]

In [160]:
jobs

                                     id  ... state_initials
0  b0bd826e-df57-4ebc-bba2-0e2e647f545a  ...             RJ

[1 rows x 6 columns]